@media (min-width: 768px) #menu__bar {
  width: 80px;
  height: 100%;
}

#menu__bar {
  width: 100%;
  padding: 14px px 10px;
}

@media (min-width: 768px) .md\:pb3 {
  padding-bottom: 20px;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

@media (min-width: 768px) .md\:flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex {
  display: flex;
}

.bg--black {
  background-color: #141617;
}

.color--cotton {
  color: #F8F7ED;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

user agent stylesheet div {
  display: block;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "GT America", sans-serif;
  color: #141617;
  font-weight: 400;
  font-size: 16px;
}

html {
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}